* {
	font-family: "Book Antiqua";
}

body {
	background: #FEF3F3;
}

fieldset {
	margin: 0;
	padding: 10,0,10,10;
	width: 300px;
	font-size: 90%;
	border-width: thick;
	background: #FBF5F5;
}

button {
	position: relative;
	margin-left: 250px;
	margin-top: 10px;
}

footer {
	position: fixed;
	margin: auto;
}

header {
	position: fixed;
	margin: auto;
}

h1 {
	display: block;
	position: center;
	margin: auto;
	font-size: 260%;
	font-family: "Hoefler Text";
	font-style: italic;
	text-align: center;
}

img {
	display: block;
	position: center;
	margin-left: auto;
	margin-right: auto;
}

img.swan{
	border-style: solid;
	border-width: 10px;
	color: white;
}

#response {
	text-align: center;
	font-style: italic;
}

.swan {
	position: center;
	text-align: center;
	font-size: small;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 80%;
  }
}

#thanks {
	width: 275px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 15px;
	font-style: italic;
}

h2 {
	display: block;
	margin: auto;
	margin-top: 15px;
	text-align: center;
}

h1#congrats {
	font-style: normal;
}

.page1 {
	border-style: solid;
	border-width: 10px;
	background-image: url("buckeye_leaf_diamond_graywhite.jpg");
	width: 325px;
	margin-bottom: 15px;
	color: #7D7D7D;
}